@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h1, h3, p{
    color: black;
    margin-top: 7%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    height: 80vh;
}