@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    box-sizing: border-box;
}
h1, h3{
    color: black;
    margin-top: 7%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
body{
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    height: 85vh;
}
/*Contenedores*/
.contenedor-principal{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: absolute;
    width: 70vw;
    height: 400px;
    padding: 5px;
    margin: auto;
    left: 15%;
}

.animation-area{
    display: flex;
    position: relative;
    border-radius: 10px;
    margin: auto;
    width: 90%;
    height: 350px;
    margin-top: 1px
}


/*Clases auxiliares: agregar animacion, ocultar area de ataque*/
.animacion{
    position: absolute;
    animation: movementRight 2s ease-in-out;
}
.hide{
    display: none;
}
/*Area de ataque e img de ataque*/

.firebox{
    top: 30%;
    position: absolute;
    width: 40%;
    height: 100px;
}
.arrowBox{
    top: 30%;
    position: absolute;
    width: 40%;
}
.warriorBox{
    top: 30%;
    position: absolute;
    width: 40%;
}

.attack1{
    top: 6%;
    position: absolute;
    width: 69%;
    height: 270px;
    left: 30%;
}

.fireImg{
    top: 5%;
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 99;
    left: 1%;
    animation: rotation 0.4s infinite linear;
}

.attack2{
    position: absolute;
    width: 70%;
    height: 300px;
    left: 30%;
}

.arrowImg{
    margin-right: 90%;
    width: 100px;
    min-height: 60px;
    padding-top: 30px;
    z-index: 99;
}

.attack3{
    position: absolute;
    width: 70%;
    height: 300px;
    left: 30%;
}

.swordImg{
    margin-right: 90%;
    width: 50px;
    height: 100px;
    animation: rotation 6s infinite linear;
    z-index: 99;
}

#attack-button0{
    background-color: slategray;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 40%;
    left: 1%;
    border-radius: 50%;
    z-index: 999;
}
/*Imagen de heroes*/

.heroBox{
    display: flex;
    justify-content: center;
    position: relative;
    width: 30%;
    height: 250px;
    left: 4%;
    top: 15%;
}
.archer{
    background-image: url(../img/archer-fantasy-2.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 99;
}
.warrior{
    background-image: url(../img/warrior-fantasy-2.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 99;
}
.mage{
    background-image: url(../img/elf-mage-fantasy-2.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: 99;
}
.name0{
    position: relative;
    top: 80%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    color: white;
    text-shadow: black 2px 2px;
    text-decoration: underline;
    border-radius: 10px;
    border: 1px solid green;
    display: contents;
}
/*Background-image en asociado a heroe*/
.background-mage{
    background-image: url(../img/volcano.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.background-archer{
    background-image: url(../img/venadu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.background-warrior{
    background-image: url(../img/castle.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
/*Color de boton asociado a color de heroe*/
.blue{
    background-color: #04619f !important;
}
.red{
    background-color: crimson !important;
}
.green{
    background-color: greenyellow !important;
}

/*Animacion de rotacion*/
@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(600deg);
    }
  }
  
/*Animacion de ataques de izquierda a derecha*/
  @keyframes movementRight {
    0% {
      left: 1%;
      opacity: 1;
      width: 40%;
    }
    100%{  
      left: 99%;
      opacity: 0.2;
      width: 10%;
    }
  }