@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h1, h3, p {
    color: black;
    margin-top: 1%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
h4{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding: 3px;
    display: block;
}
body{
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    background-repeat: no-repeat;
    height: 97vh; 
}

#openModal{
    position: relative;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(0, 155, 0);
    color: wheat;
    box-shadow: black 2px 2px;
}
.btnModalBox{
    width: 70px;
    height: 40px;
    border: 1px solid black;
    position: relative;
    background-color: rgb(252, 133, 133);
    border-radius: 10px;
    margin: auto;
}
.hide{
    opacity: 0;
}

#modal{
    top: 1%;
    position: relative;
    background-color: transparent;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    margin: auto;
}

#modal input{
    position: relative;
    left: 20%;
    top: 2%;
}
#modal button{
    top: 40%;
    position: relative;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(0, 155, 0);
    color: wheat;
    box-shadow: black 2px 2px;
    right: 23%;
}

#imgBox img{
    width: 300px;
    height: 300px;
}

#fruitBox{
    width: 300px;
    height: 300px;
    position: static;
    border-radius: 10px;
    margin: auto;
}