@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

h1, h3, p {
    color: black;
    margin-top: 1%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}
h4{
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    position: relative;
    padding: 3px;
    display: block;
}
body{
    background-image: linear-gradient(315deg, #f9d976 0%, #f9d976 74%);
    height: 97vh; 
}

#openModal{
    position: relative;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    background-color: rgb(0, 155, 0);
    color: wheat;
    box-shadow: black 2px 2px;
}
.btnModalBox{
    width: 70px;
    height: 40px;
    border: 1px solid black;
    position: relative;
    background-color: rgb(252, 133, 133);
    border-radius: 10px;
    margin: auto;
}
.hide{
    opacity: 0;
    transition : opacity 0.2s;
}

#modal{
    display: flex;
    top: 1%;
    position: relative;
    background-color: transparent;
    border-radius: 10px;
    width: 300px;
    height: 150px;
    margin: auto;
    transition : opacity 0.2s;
}

#modal input{
    height: 15px;
    position: relative;
    left: 20%;
    top: 2%;
}
.buttons{
    top: 40%;
    position: relative;
    width: 300x;
    height: 50px;
    border-radius: 10px;
    color: wheat;
    right: 35%;
    display: flex;
}
#allBtn{
    margin: 5px;
    position: relative;
    width: 100x;
    height: 40px;
    border-radius: 10px;
    color: wheat;
    background-color: rgb(0, 155, 0);
    box-shadow: black 2px 2px;
}
#delBtn{
    margin: 5px;
    position: relative;
    width: 70x;
    height: 40px;
    border-radius: 10px;
    color: wheat;
    background-color: rgb(0, 155, 0);
    box-shadow: black 2px 2px;
}
#sendBtn{
    margin: 5px;
    position: relative;
    width: 70x;
    height: 40px;
    border-radius: 10px;
    color: wheat;
    background-color: rgb(0, 155, 0);
    box-shadow: black 2px 2px;
}
#imgBox{
    display: flex;
    flex-wrap: wrap;
    transition : opacity 0.5s;
}
#imgBox img{
    width: 300px;
    height: 300px;
}
#fruitBox{
    width: 300px;
    height: 300px;
    position: static;
    border-radius: 10px;
    margin: auto;
}